
<div class="login-wrapper">
  
  
  <div class="login-grid">
    <div class="login">
      <%= image_tag("login/register", class: 'register-logo') %>
      <h3 class="login-text">Create a new account</h3>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <form class="form">
       

        <div class="form-group">
          <%= f.text_field :first_name, class: "form-control", placeholder: 'First name' %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name, class: "form-control", placeholder: 'Last name' %>
        </div>

        <div class="form-group">
          <%= f.text_field :course, class: "form-control", placeholder: 'Course' %>
        </div>

        <div class="form-group">
          <%= f.text_field :degree_level, class: "form-control", placeholder: 'Degree level' %>
        </div>

      
        <div class="custom-file">
               <input type="file" class="custom-file-input" id="customFile">
               <%= f.file_field :profile_picture, class: "form-control custom-file-input ", placeholder: 'Profile picture' %>
               <label class="custom-file-label" for="customFile">Profile picture</label>    
        </div>


        <div class="form-group">
          <%= f.text_field :username, class: "form-control", placeholder: 'Username' %>
        </div>


        <div class="form-group">
          <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: 'Email address' %>
          <small id="emailHelp" class="form-text text-muted">Email must end in @uel.ac.uk</small>
        </div>

        <div class="form-group">
          
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: 'Password' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: 'Password confirmation' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn login-btn btn-primary" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </form>

     
  </div>
</div>
</div>
