<div class="wrapper">
   <p id="notice"><%= notice %></p>
  

    <div class="logo">
        <%= image_tag("logo.png") %>
    </div>

    

    <br>

    <div class="content">

    <div class="heading">
        <p>Channels</p>
    </div>

    <div class="one-grid">
        <%= image_tag("chat-sm.png", id: "chat" ) %>
    </div>  

    <hr>


<% @chatrooms.each do |chatroom| %>
    <div class="four-grid">
      <!-- <i id="hashtag" class="fab fa-slack-hash fa-lg"></i> -->
      <p><%= link_to chatroom.name,  chatroom, id: "channel-name" %></p>
      <%= link_to 'UPDATE', edit_chatroom_path(chatroom), class: "btn btn-secondary", id: "update" %>
      <%= link_to 'REMOVE', chatroom, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary", id: "remove" %>
      <%= link_to "JOIN", chatroom_chatroom_users_path(chatroom), class: "btn btn-secondary", id: "join", method: :post %>
      <%= link_to "LEAVE", chatroom_chatroom_users_path(chatroom), class: "btn btn-secondary", id: "leave", method: :delete %>
    </div>
    <hr>
<% end %>

  




  
  <br>


    

    <div class="add-channel">
      <%= link_to 'Add Channel + ', new_chatroom_path, id: "add" %>
    </div>

  </div>
  <!-- content div -->

</div>
