<div class="chatroom-grid">
  <div class="sidebar">

    <div id="sidebar-heading">
        <i class="fas fa-graduation-cap fa-2x"></i>
        <strong><h3 id="heading">MyUel</h3></strong>
    </div>

    <div id="channel-heading">
        <i id="chat-logo" class="far fa-comment fa-2x d-none d-sm-block"></i>
        <!-- <i id="chat-logo" class="far fa-comment fa-1x d-block d-sm-none"></i> -->
        <p><strong>Channels</strong></p>
    </div>

<% @chatrooms.each do |chatroom| %>
    <div id="sidebar-new-chat-grid">
      <i id="hashtag" class="fab fa-slack-hash fa-lg"></i>
      <p><%= link_to chatroom.name,  chatroom, id: "channel-name" %></p>
      <%= link_to 'Edit', edit_chatroom_path(chatroom), class: "btn btn-secondary", id: "edit" %>
      <%= link_to 'Destroy', chatroom, method: :delete, class: "btn btn-secondary", id: "delete", data: { confirm: 'Are you sure?' } %>
      <%= link_to "Join", chatroom_chatroom_users_path(chatroom), class: "btn btn-secondary", id: "join", method: :post %>
      <%= link_to "Leave", chatroom_chatroom_users_path(chatroom), class: "btn btn-secondary", id: "join", method: :delete %>
      <br>
    </div>
<% end %>


            <!-- <button id="edit" type="button" class="btn btn- btn-sm">Update</button>
            <button id="delete" type="button" class="btn btn- btn-sm">Remove</button>
            <button id="join" type="button" class="btn btn- btn-sm">Join</button>
 -->






  
  <p id="notice"><%= notice %></p>

  
  <br>


    <div class="btn btn-secondary new-channel">
      <%= link_to 'Add Channel', new_chatroom_path %>
      <i id="plus" class="fas fa-plus"></i>
    </div>

  </div>
</div>
