
<div class="chatroom-grid">
	<div class="sidebar"> 

		<% if user_signed_in? %>
        <h5><%= current_user.username %>'s Current Chatrooms</h5>
        <ul>
          <% current_user.chatrooms.each do |chatroom| %>
            <li><%= link_to chatroom.name, chatroom %></li>
          <% end %>
        </ul>
    <% end %>
	
	<hr>

		<p id="notice"><%= notice %></p>
		
		<div id="chat-heading">
			<h2>Chatrooms</h2>
		</div>

		<p>
		  <strong>Name:</strong>
		  <%= @chatroom.name %>
		</p>

		<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
		<%= link_to 'Back', chatrooms_path %>
	</div>

	<div id="chat-area">
		<h3>general</h3>
		<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id  %>'>
			<% @chatroom.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
				<!-- <div class="jumbotron"> -->
					<%= render message  %>
				<!-- </div> -->
			<% end %>
		</div>
	</div>


	<div class="chat-textarea">
		<%= form_for [@chatroom, Message.new], remote: true do |f| %>
		<%= f.text_area :body, rows: 1, class: "form-control", autofocus: true  %>
		<%= f.submit "Send"  %>
	<% end  %>
	</div>
</div>


