
<div class="chatroom-grid">
	<div class="sidebar"> 

		<% if user_signed_in? %>
        <h5><%= current_user.username %>'s Current Chatrooms</h5>
        <ul>
          <% current_user.chatrooms.each do |chatroom| %>
            <li><%= link_to chatroom.name, chatroom %></li>
          <% end %>
        </ul>
    <% end %>
	
	<hr>

		<p id="notice"><%= notice %></p>
		
		<div id="chat-heading">
			<h2>Chatrooms</h2>
		</div>

		<p>
		  <strong>Name:</strong>
		  <%= @chatroom.name %>
		</p>

		<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
		<%= link_to 'Back', chatrooms_path %>
	</div>

	<div id="chat-area">
		<h3>general</h3>
		<div data-behavior='messages'>
			<% @chatroom.messages.limit(100).each do |message| %>
			<div class="jumbotron">
				<div><strong><%= message.user.username%> - </strong><%= message.body  %></div>
			</div>
			<% end %>
		</div>
	</div>


	<div class="chat-textarea">
		<%= form_for [@chatroom, Message.new] do |f| %>
		<%= f.text_area :body, rows: 1, class: "form-control", autofocus: true  %>
	<% end  %>
	</div>
</div>
