<div id="wrapper">
  
  <div id="top-content">
    

        <section id="welcome">

          <%= image_tag (current_user.profile_picture.url(:thumb)), id: "profile" %>
          <p id="name"><%= current_user.first_name%> <%= current_user.last_name  %></p>
          <p id="study"><%= current_user.course  %> - Level <%= current_user.degree_level  %></p>


          <%= image_tag("logo/Logo-good.png", id: "logo-heading", width: 350 ) %>
         <!--  <%= image_tag (current_user.profile_picture.url(:thumb)), id: "profile-picture" %> -->

         

          <h2 id="welcome-heading">Welcome <%= current_user.username %> to myuel </h2>
          <h3 id="welcome-sub-heading">Your number one place for social life at university </h3>





          <!-- <div id="profile-pic">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/150x150"></a>
          </div>

          <div id="study-picture">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/150x150"></a>
          </div> -->
        </section>

  </div> <!-- end of top-content -->

  <div id="main-content">
      <section id="boxes">
        
        <%= link_to edit_user_registration_path do %>
            <div id="box1">
                <%= image_tag("boxes/profile.png", class: "box-image") %>
                <h1 class="box-text">Profile</h1>
            </div>
        <% end %>
        

         <%= link_to posts_path do %>
        <div id="box2">
          <%= image_tag("boxes/events.png", class: "box-image") %>
          <h1 class="box-text">Events</h1>
        </div>
        <% end %>
        

         <%= link_to chatrooms_path do %>
        <div id="box3">

           <%= image_tag("boxes/chat.png", class: "box-image") %>

         <h1 class="box-text">Chat</h1>

        </div>
        <% end %>



        <%= link_to pages_users_path do %>
        <div id="box4">

           <%= image_tag("boxes/chat.png", class: "box-image") %>

         <h1 class="box-text">Users</h1>

        </div>
        <% end %>

      

      </section>
  </div>







</div> <!-- wrapper -->