<div id="fakeLoader"></div>
<div id="wrapper">
  
  <div id="top-content">
    

        <section id="welcome">

          <%= image_tag (current_user.profile_picture.url(:thumb)), id: "profile" %>
          <p id="name"><%= current_user.first_name.upcase_first%> <%= current_user.last_name.upcase_first  %></p>
          <p id="study"><%= current_user.course.upcase_first  %> - Level <%= current_user.degree_level  %></p>


          <%= image_tag("logo/Logo-good.png", id: "logo-heading", width: 350, class: "animated pulse" ) %>

         

          <h2 class="animated bounceInUp" id="welcome-heading">Welcome to myuel <%= current_user.username.upcase_first %>!</h2>
          <h3 id="welcome-sub-heading">Your number one place for social life at university </h3>

        </section>

  </div> <!-- end of top-content -->

  <div id="main-content">
      <section id="boxes">
        
            <div id="box1">
              <!-- <img class="box-image"src="profile.png"> -->
              <div class="box-headings">
                <h3 id="profile-text-heading">Manage Profile</h3>
                <p class="box-sub-heading">Update your account here</p>
              </div>

              <div class="box-images">
                <%= image_tag("boxes/profile-1.png", class: "box-image-1") %>
                <%= image_tag("boxes/profile-2.png", class: "box-image-2") %>
                <%= image_tag("boxes/profile-3.png", class: "box-image-3") %>
              </div>


              <div class="box-bottom">
                <%= link_to edit_user_registration_path do %>
                  <button id="profile-btn" class="btn btn-primary">View Profile</button>
                 <% end %>
              </div>
             
          </div>
        
        

         
        <div id="box2">
              <!-- <img class="box-image"src="profile.png"> -->
              <div class="box-headings">
                <h3 id="events-text-heading">Create events</h3>
                <p class="box-sub-heading">Create events for all your classmates to see! </p>
              </div>

              <div class="box-images">
                <%= image_tag("boxes/event-1.png", class: "box-image-1") %>
                <%= image_tag("boxes/event-2.png", class: "box-image-2") %>
                <%= image_tag("boxes/event-3.png", class: "box-image-3") %>
              </div>


              <div class="box-bottom">
                <%= link_to posts_path,  method: :get do %>
                  <button id="event-btn" class="btn btn-primary">Create events</button>
                <% end %>
              </div>
          </div>
        
        

         
        <div id="box3">
              <!-- <img class="box-image"src="profile.png"> -->
              <div class="box-headings">
                <h3 id="chat-text-heading">Live chat with friends</h3>
                <p class="box-sub-heading">Create channels and direct message friends</p>
              </div>

              <div class="box-images">
                <%= image_tag("boxes/chat-1.png", class: "box-image-1") %>
                <%= image_tag("boxes/chat-2.png", class: "box-image-2") %>
                <%= image_tag("boxes/chat-3.png", class: "box-image-3") %>
              </div>


              <div class="box-bottom">
                <%= link_to chatrooms_path do %>
                  <button id="chat-btn" class="btn btn-primary">Live chat</button>
                <% end %>
              </div>
          </div>


          <div id="box4">
              <!-- <img class="box-image"src="profile.png"> -->
              <div class="box-headings">
                <h3 id="user-text-heading">View all users</h3>
                <p class="box-sub-heading">View your friends public information</p>
              </div>

              <div class="box-images">
                <%= image_tag("boxes/user-1.png", class: "box-image-1") %>
                <%= image_tag("boxes/user-2.png", class: "box-image-2") %>
                <%= image_tag("boxes/user-3.png", class: "box-image-3") %>
              </div>


              <div class="box-bottom">
                <%= link_to pages_users_path do %>
                  <button id="user-btn" class="btn btn-primary">View all users</button>
                <% end %>
              </div>
          </div>
       



        

      

      </section>
  </div>







</div> <!-- wrapper -->
<script type="text/javascript">

$("#fakeLoader").fakeLoader({
timeToHide:1200, //Time in milliseconds for fakeLoader disappear

zIndex:"999",//Default zIndex

spinner:"spinner1",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'

bgColor:"#216c98", //Hex, RGB or RGBA colors

// imagePath:"yourPath/customizedImage.gif" //If you want can you insert your custom image
});

</script>