<!-- 

<div class="login-grid">


  <header>
    <h1>Welcome to Myuel</h1>
  </header>


<div class="login-box">
  <div class="col-lg-12">
      <h2>Log in</h2>
      <hr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <! <div class="form-group">
          <%= f.label :username %><br />
          <%= f.text_field :username, class: "form-control" %>
        </div> -->


       <!--  <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div> --> <!-- login grid
 -->
<!--  --> <!-- --> 





<div class="login-wrapper">

  <section class="login-grid">

    <div class="login">
      <%= image_tag("login/login", id: 'login-logo') %>
      <h3 class="login-text">Welcome to myuel</h3>
      <h3 class="login-text">Please Login</h3>


      
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.text_field :email, class: "form-control input", placeholder: "Email address" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, class: "form-control input", autocomplete: "off", placeholder: "Password" %>
            </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          
        <div class="actions">
          <%= f.submit "Log in", class: "btn login-btn" %>
        </div>

        <%= render "devise/shared/links" %>



         <% end %>



    </div>

  </section>

</div>




