<!-- <div class="container">
	<%= link_to 'Back', root_path, class: 'btn btn-secondary'  %>
	<%= link_to 'New post', new_post_path, class: 'btn btn-danger'  %>
	<br>
	<br>
	
		<% @posts.each do |post| %>
		<div class="card">
			<%= image_tag (post.image.url(:large)) %>
			<br>
			<p><%= link_to post.title, post  %></p>
			<hr>
			<p><%= post.content.html_safe %></p>
			<p>Created by <%= current_user.username %></p>
			<p>Created by <%= User.find(post.user_id).username %></p>





		</div>
		<br>
		<% end %>
	
</div>
 -->





<div id="posts-home-wrapper">
	
	<div id="header">
		<p id="main-heading">Post things for your friends to see</p>
		<p>Create events, meetings, day trips and more!</p>
		 <hr class="hr-custom">
	</div>

	<div id="new-post-btn">
		<%= link_to 'Add post', new_post_path, class: 'btn btn-danger', id: "add-post-button"  %>
	</div>

	<div id="dashboard-btn">
		<button id="back-to-dash" class="btn btn-danger">Back</button>
	</div>


	<div id="posts-section">
		
		
			
			<div id="boxes">
				<% @posts.each do |post| %>
					<div class="card">
						<%= image_tag post.image.url(:large), class: "img-fluid" %>
						<div class="card-content">
							<h3 class="post-heading"><%= link_to post.title, post%></h3>
							<hr class="card-hr">

							<p class="post-text"><%= post.content.truncate(140).html_safe %></p>

							<p class="post-creator">Created by <%= User.find(post.user_id).username %></p>

							<button class="btn read-post-btn btn-danger">Read More</button>
						</div>
					</div>

					
					<% end %>
				</div>

			</div>

			

		

	</div>


</div>