
<div id="posts-home-wrapper">
	
	<div id="header">
		<p id="main-heading">Post things for your friends to see</p>
		<p>Create events, meetings, day trips and more!</p>
		 <hr class="hr-custom">
	</div>

	<div id="new-post-btn">
		<%= link_to 'Add post', new_post_path, class: 'btn btn-danger', id: "add-post-button"  %>
	</div>

	
	<div id="dashboard-btn">
		<%= link_to 'Back', root_path, class: 'btn btn-danger', id: "back-to-dash"  %>
	</div>

	
	<div id="post-count-section">
		<p id="count-post"><i class="fas fa-calendar-alt"></i> Posts <%= @posts.count %></p>

		<p id="count-user"><i class="fas fa-users"></i> Users <%= @users.count %></p>
		
		<p id="count-comment"><i class="fas fa-comments"></i> Comments <%= @comments.count %></p>

		<p id="count-tags"><i class="fas fa-hashtag"></i> Tags  <%= @countTags %></p>
	</div>
	
	
		
  	

	<div id="posts-section">
		<%= render 'post' %>
	</div>


</div>